apiclient==1.0.3
asn1crypto==0.23.0
Babel==2.5.3
bdist-mpkg==0.5.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
click==6.7
enum34==1.1.6
Flask==0.12.2
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
olefile==0.44
Pillow==4.2.1
py2app==0.7.3
pycparser==2.18
pyOpenSSL==17.3.0
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
requests==2.18.4
termcolor==1.1.0
typing==3.6.4
urllib3==1.22
webkit2png==0.8.2
Werkzeug==0.12.2
